/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --boo-nav:#ff6900;
    --boo-foot:#1a1a1a;
    --boo-discount:#ff0000;
    --boo-bg:#ffffff;

  }
  
  body.debug {
    background: #f5f5f5;
  }

 *{
    font-family: Arial, Helvetica, sans-serif;
    }

  .top-banner {
    width: 100%;
    height: 60px; /* Banner height */
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* <-------- Nav Bar --------> */
  .nav-bar{
    width: 90%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6900;
  }


  /* Logo */
.logo {
    width: 120px;
    height: 30px;
}

/* Right icons */
.icon-top-right {
    display: flex;
    gap: 15px;
    color: #ffffff;
    padding-right: 2%;

  }

  /* Top Left  */

.top-left a{
    gap: 30px;
    text-decoration: none;
    color: var(--boo-bg);    
}

/* <---------- product image layout ----------> */

.product-grid{
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 50px;
    
}



.product-img{
    height: 100%;
    width: 350px;
}

.price{
    color: #ff0000;
}